.menu-list {
    width: 224px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    transition: opacity 300ms ease 0s;
    .menu-item {
        margin-left: 0;
    }
}
.menu-popper {
    padding-bottom: 8px;
}
.menu-item {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    line-height: 22px;
    padding: 10px 8px 10px 16px;
    border: none;
    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.header {
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
}
.back-btn {
    height: 100%;
    width: 25%;
    font-size: 1.8rem;
    margin-left: 12px;
    cursor: pointer;
    background-color: transparent;
}
.title-header {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 22px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
